// Colores
$color-black: #000000;
$color-red: #E93E30;
$color-yellow: #F7E018;
// $color-blue: #299ED5;
$color-dark-gray: #292C33;
// $color-green: #67C770;
$color-purple: #563D7C;
$primary-color: #63af2b;
$secondary-color: #299ED5;
$color-gray: #ccc;
$color-blanco: #fff;

// Fuente
$font-family: 'Poppins', sans-serif;
$font-weight-base: 400;

