.populares {
    padding: 2em;

    &__section {
        margin-bottom: 2em;
    }

    &__title {
        font-size: 2em;
        margin-bottom: 1em;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        flex: 1 1 calc(33.333% - 1em);
        max-width: calc(33.333% - 1em);
    }
}